<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tableau de bord</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="OUAREM Oualid et Takieddine Saoud" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>

        {% block additional_styles %}
        {% endblock additional_styles %}
    </head>
        <body class="sb-nav-fixed">
            <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
                <!-- Navbar Brand-->
                <a class="navbar-brand ps-3" href="{{ url_for('admin_bp.index') }}">Mon Tableau de bord</a>
                <!-- Sidebar Toggle-->
                <button class="btn btn-dark btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
                    <i class="fas fa-bars"></i>
                </button>
                <!-- Navbar Search-->
                <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                    <div class="input-group">
                        {# <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />#}
                        <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </form>
                <!-- Navbar-->
                <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            {# <li><a class="dropdown-item" href="#!">Settings</a></li>#}
                            {# <li><a class="dropdown-item" href="#!">Activity Log</a></li>#}
                            {# <li><hr class="dropdown-divider" /></li>#}
                            <li><a class="dropdown-item" href="{{ url_for('auth_bp.logout') }}">Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <div id="layoutSidenav">
                <div id="layoutSidenav_nav">
                    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                        <div class="sb-sidenav-menu">
                            <div class="nav">
                                <div class="sb-sidenav-menu-heading">Corp du site</div>
                                <a class="nav-link" href="{{ url_for('admin_bp.index') }}">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Tableau de bord du site
                                </a>
                                <div class="sb-sidenav-menu-heading">Gestion</div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                    Employés
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{{ url_for('admin_bp.employees') }}">Voir La liste des employés</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                    Services
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                         <a class="nav-link" href="{{ url_for('admin_bp.services', page=1) }}">Voir La liste des services</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseAggregate" aria-expanded="false" aria-controls="collapseAggregate">
                                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                    Aggrégats
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseAggregate" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="{{ url_for('admin_bp.aggregates') }}">Voir La liste des aggrégats</a>
                                    </nav>
                                </div>

                        </div>
                        <div class="sb-sidenav-footer">
                            <div class="small">Connecté en tant que: {{ current_user.role }}</div>
                            Tablea de bord
                        </div>
                        </div>
                    </nav>
                </div>
                <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">{% block actual_title %}{% endblock actual_title %}</h1>
{#                        <ol class="breadcrumb mb-4">#}
{#                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>#}
{#                            <li class="breadcrumb-item active">Static Navigation</li>#}
{#                        </ol>#}
                        {% block main_tag %}
                        {% endblock main_tag %}
                    </div>
                </main>
            </div>
            </div>
            <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
            <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
            {% block additional_scripts %}
            {% endblock additional_scripts %}
    </body>
</html>